
{% extends 'base.html.twig' %}

{% block title 'Liste des articles par lettre | ' ~ parent() %}

{% block content %}

<div class="form-signin-2">
  <div class="alert alert-light" role="alert">
      <h2>RÉSULTAT</h2>
      <hr/>
      Le résultat ci-dessous vous présente en ordre alphabétique 
    {% if articles|length <= 1 %} 
    {{articles|length}}</strong> article
    {% else %}
    {{articles|length}}</strong> articles
    {% endif %}
    wikipédia à améliorer lié à la Côte d'Ivoire, commerçant par la lettre <strong>{{data}}</strong>.
  </div>
    <div id="results-table">
     <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Articles</th>
        </tr>
      </thead>
      <tbody>
    {% if articles|length > 0 %}
        {% for article in articles %}
        <tr>
           <th scope="row">{{loop.index}}</th>
           <td><a href="https://fr.wikipedia.org/wiki/{{article.name}}" target="_blank">{{article.name}}</a></td>
         </tr>
        {% endfor %}
    {% else %}
        <h3>Aucun article à améliorer dans la base de données !!!</h3>
    {% endif %}

      </tbody>
     </table>
    <hr/>
    <a href="{{ path('letterform') }}" class="btn btn-primary float-right">Retour</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</div>

{% endblock %}