
{% extends 'base.html.twig' %}

{% block title 'Liste des articles par genre | ' ~ parent() %}

{% block content %}

<div class="form-signin-2">
  <div class="alert alert-light" role="alert">
      <h2>RÉSULTAT</h2>
      <hr/>
      Le résultat ci-dessous vous présente des liens sur des articles wikipédia ivoiriens à créer et à améliorer liés à {{genre}}.
  </div>
    <br>
    <br>
    <p><a href="#">Liste de tous les articles wikipédia ivoiriens liés à {{genre}}</a></p>
    <p><a href="#">Liste des articles wikipédia ivoiriens à créer liés à {{genre}}</a></p>
    <p><a href="#">Liste de tous les articles wikipédia ivoiriens à améliorer liés à {{genre}}</a></p>
    <hr/>
    <a href="{{ path('genreform') }}" class="btn btn-primary float-right">Retour</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</div>

{% endblock %}