
{% extends 'base.html.twig' %}

{% block title 'Articles wikipédia liés à homme ivoirien | ' ~ parent() %}

{% block content %}

    <div class="form-signin-2">
      <div class="alert alert-light" role="alert">
          <h2>RÉSULTAT</h2>
          <hr/>
          Le résultat ci-dessous vous présente des articles wikipédia à créer et à améliorer liés à l'homme ivoirien.
      </div> 
        <br>
        <button class="accordion">Tous les articles wikipédia liés à l'homme ivoirien</button>
          <div class="panel">
            <br>
            <p>Nous vous présentons les {{allmales|length}} articles wikipédia liés à l'homme ivoirien :</p>
    {% if allmales|length > 0 %}
        {% for allmale in allmales %}
          <a href="https://fr.wikipedia.org/wiki/{{allmale.page}}" target="_blank">{{allmale.page}}</a> - 
        {% endfor %}
    {% else %}
        <h3>Aucun article wikipédia dans la base de données !!!</h3>
    {% endif %}
            <br>
          </div>

        <button class="accordion">Articles wikipédia à améliorer liés à l'homme ivoirien</button>
          <div class="panel">
            <br>
            <p>Nous vous présentons les {{malesimprove|length}} articles wikipédia à éditer urgemment liés à l'homme ivoirien :</p>
    {% if allmales|length > 0 %}
        {% for maleimprove in malesimprove %}
          <a href="https://fr.wikipedia.org/wiki/{{maleimprove.page}}" target="_blank">{{maleimprove.page}}</a> - 
        {% endfor %}
    {% else %}
        <h3>Aucun article wikipédia dans la base de données !!!</h3>
    {% endif %}
            <br>
          </div>

        <button class="accordion">Articles à créer liés à l'homme ivoirien</button>
          <div class="panel">
            <br>
            <p>Nous vous présentons les {{malescreate|length}} articles à créer liés à l'homme ivoirien :</p>
    {% if malescreate|length > 0 %}
        {% for malecreate in malescreate %}
          <a class="a-color" href="https://fr.wikipedia.org/wiki/{{malecreate.page}}" target="_blank">{{malecreate.page}}</a> - 
        {% endfor %}
    {% else %}
        <h3>Aucun article wikipédia dans la base de données !!!</h3>
    {% endif %}
            <br>
            <br>
          </div>
        <br>
        <br>
        <hr/>
        <a href="{{ path('genreform') }}" class="btn btn-primary float-right">Retour</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>

{% endblock %}